.dot{
    width:35px;
    height:35px;
    position:absolute;
    background: url(https://image.ibb.co/kyUHab/rose.png);
    background-size: 100% 100%;
  }
  #logo{ 
      left:0%; 
      top:0%; 
      position:absolute; 
      border-radius:10px; 
    }
    
    @media (max-width :570px)  {
       .dot{
           background-position: top;
           top: 0%;
       }
    }
  
  